body{
	margin: 0;
	padding: 0;
}
h1{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	font-size: 15em;
	text-align: center;
	margin: 400px auto;
	text-transform: uppercase;
	background-image: url(IMG_20200210_131921_213_d_850.jpg);
	background-size: cover;
	background-attachment: fixed;
	-webkit-background-clip: text;
	-webkit-text-fill-color:  transparent ;

}